body{
margin:0;
font-family: Arial;
}

.hero{
height:100vh;
background: linear-gradient(to right, purple, blue);
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero button{
margin-top:20px;
padding:12px 20px;
border:none;
background:white;
color:black;
border-radius:5px;
}
